@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('@/assets/fonts/KantumruyPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Kantumruy Pro', sans-serif;
}