@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Kantumruy Pro";
  src: url("@/assets/fonts/KantumruyPro-Regular.ttf") format("truetype");
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Kantumruy Pro", sans-serif;
}
:root {
  --primary: #13707f;
  --brand-light: #f0f9fa;
  --brand-hover: #0e5661;
  --sidebar-width: 280px;
  --bg-body: #f8fafb;
  --card-radius: 1.25rem;
  --border-color: #edf2f7;
  --primary-light: #E8F4F5;
  --primary-hover: #0f5c69;
  --primary-soft: #f0f9fa;
  --primary-gradient: linear-gradient(135deg, #13707f 0%, #1e9fb3 100%);
  --body: #475569;
  --glass-bg: rgba(255, 255, 255, 0.85);
  --glass-border: rgba(255, 255, 255, 0.5);
  --text-main: #1f2937;
  --text-muted: #596a81;
  --accent: #F7A423;
  --text-dark: #0f172a;
  /* --dark: #0F172A; */
  --glass-bg: rgba(255, 255, 255, 0.85);
  --bg-main: #ffffff;
  --bg-alt: #f8fafc; /* New section background color */
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--bg-body);
  color: #1e293b;
  overflow-x: hidden;
  letter-spacing: -0.01em;
}
